[tool.isort]
profile = "black"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q"
testpaths = [
    "tests",
]

[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "gym",
    "numpy"
]
build-backend = "setuptools.build_meta"
