name: Python application

on:
  push:
    branches:
      - main
      - feature/ci-workflow
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install code quality dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install -r requirements/requirements.txt
    - name: Run unit tests
      run: |
        pytest
    - name: Run flake8
      run: |
        flake8 . --statistics
    - name: Run black
      run: |
        black . --check
    - name: Run isort
      run: |
        isort . --check
