name: Upload Python Package

on:
   push:
     tags:
       - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install build

    - name: Build Python wheels
      run: |
        python -m build

    - name: Archive artifacts
      uses: actions/upload-artifact@v2
      with:
        name: python-packages
        path: dist
        retention-days: 1


  release:
    needs: build
    runs-on: ubuntu-latest
    steps:

    - name: Download Artifacts
      uses: actions/download-artifact@v2
      with:
        name: python-packages

    - name: Create a GitHub Release
      id: create-release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "dist/*.*"
        token: ${{ secrets.GITHUB_TOKEN }}


  publish:
    needs: release
    runs-on: ubuntu-latest
    steps:

    - name: Download Artifacts
      uses: actions/download-artifact@v2
      with:
        name: python-packages

    - name: Display package files
      run: ls -lah
      working-directory: dist

    - name: Publish package to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.TEST_PYPI_API_TOKEN }}
        repository_url: https://test.pypi.org/legacy/
