name: Continuous Delivery

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build Python Package
    runs-on: ubuntu-latest
    steps:

    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set Up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install Python Dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install build

    - name: Build Python Wheels
      run: |
        python -m build

    - name: Store Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: python-packages
        path: dist/*.whl
        if-no-files-found: error
        retention-days: 1


  release:
    name: Publish at GitHub
    needs: build
    runs-on: ubuntu-latest
    steps:

    - name: Download Artifacts
      uses: actions/download-artifact@v2
      with:
        name: python-packages
        path: dist

    - name: Create a GitHub Release
      id: create-release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "dist/*"
        token: ${{ secrets.GITHUB_TOKEN }}


  publish-test:
    name: Publish at TestPyPI
    needs: release
    runs-on: ubuntu-latest
    steps:

    - name: Download Artifacts
      uses: actions/download-artifact@v2
      with:
        name: python-packages
        path: dist

    - name: Publish Package to Python Package Index
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.TEST_PYPI_API_TOKEN }}
        skip_existing: true


  publish:
    name: Publish at PyPI
    needs: publish-test
    runs-on: ubuntu-latest
    steps:

    - name: Download Artifacts
      uses: actions/download-artifact@v2
      with:
        name: python-packages
        path: dist

    - name: Publish Package to Python Package Index
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
